.avatar{
    display: flex;
    align-items: center;
    background: #F4F6F8;
    border-radius: 13px;
    padding: 10px;
    justify-content: space-around;
    margin-top: 65px;
    margin-right: 13px;
}
.link-flex{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: #637381;
}
.link-flex:hover{
    background-color: lightgray;
    color: black;
}
.active{
    border-right: 3px solid blue;
    color: #3F51B5;
}