.terms-condition{
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    border-bottom: 1px solid black;
    overflow: auto;
    h2{
        cursor: pointer;
        margin-right: 41px;
        margin-left: 11px;
    }
   
}
.sidebar-terms{
    background: #00082C;
    padding: 12px;
    line-height: 1.9;
    height: 500px;
    p{
        font-size:19px;
    }
}
.main-grid-terms{
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    .main-textarea{
        line-height: 1.6;
    }
    h1{
        margin-bottom:15px;
    }
    span{
        font-size: 22px;
    }
}
.active-term-heading{
    border-bottom: 5px solid #58C9A0;
    padding-bottom: 24px;
}
.active-main-grid-terms{
    display: block;
}
.hide-element{
    display: none;
}