*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'DM Sans', 'sans-serif';
}
a{
  text-decoration: none;
  color: #B1B5C4;
  transition: 0.2s ease-in-out;

  &:hover{
    color:#45B26B;
  }
}
.active{
  color: #45B26B;
}
.outer-container{
  margin:0 10px;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}
input:focus{
  outline:none;
}

    button{
      cursor: pointer;
    }
@import '../components/header/style.scss';

