.header{
    position: relative;
    // background:#45B26B;
    color: #B1B5C4;

    .wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;

        .logo{
            display: flex;
            align-items: center;
            
            a{

                h5{
                    font-size: 24px;
                    font-weight: 600;
                    color: #45B26B;
                }
            }

            form{
                display: flex;
                align-items: center;
                margin-left: 15px;

                input{
                    font-size: 15px;
                    padding-left: 2.375rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 30px;
                    border: 1px solid #B1B5C4;
                }
            }
        }
        .navbar{
            ul{
                list-style: none;
                display: inline-block;
                
                a{
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding: 0 13px;


                }
            }
        }
        .mobile-nav{
            display: none;
        }
    }
}

@media screen and (max-width: 940px) {
    .header .wrapper{
        padding: 15px 25px;

        .navbar ul a{
            padding: 0 8px;
        }
    }
}

@media screen and (max-width: 860px) {
    .header{
        .wrapper{
            .navbar{
                display: none;
            }
            .mobile-nav{
                display: block;
            }
        }
    }
}
@media screen and (max-width:475px) {
    .header{
        .wrapper{
            padding: 12px;
            .logo{ 
                a {
                    h5{
                        font-size: 18px;
                    }
                }
                form{
                    display: none;
                }
                .makeStyles-search_icon-2{
                    width:18px !important;
                    height: 18px !important;
                }
            }
        }
    }
}

