.header{
    position: relative;
    // background:#45B26B;
    color: #B1B5C4;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 40px;

        .wrapper{
            display: flex;
            align-items: center;
            
            a{
                // text-decoration: none;
                // color: #B1B5C4;

                h5{
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            form{
                display: flex;
                align-items: center;
                margin-left: 15px;

                input{
                    font-size: 15px;
                    padding-left: 2.375rem;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-radius: 30px;
                    border: 1px solid #B1B5C4;
                }
            }
        }
        .navbar{
            ul{
                list-style: none;
                display: inline-block;
                
                a{
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    padding: 0 13px;

                    // &:hover{
                    //     color: #45B26B;
                    // }

                }
            }
        }
        .mobile-nav{
            display: none;
        }
    }
}

@media screen and (max-width: 940px) {
    .header .container{
        padding: 15px 25px;

        .navbar ul a{
            padding: 0 8px;
        }
    }
}

@media screen and (max-width: 860px) {
    .header{
        .container{
            .navbar{
                display: none;
            }
            .mobile-nav{
                display: block;
            }
        }
    }
}
@media screen and (max-width:475px) {
    .header .container .wrapper a h5{
        font-size: 16px;
    }
    .header .container{
        padding: 12px;
    }
    .header .container .wrapper form{
        margin-left: 10px;
    }
    .makeStyles-search_icon-2{
        width:18px !important;
        height: 18px !important;
    }
    .header .container .wrapper form input{
        width: 140px;
        height: 24px;
        font-size: 11px;
        padding-left: 32px;
    }
}

