.MuiGridListTile-tile{
    border-radius: 10px;
}
.MuiSvgIcon-root{
    font-size: 32px !important;
}

.scroller{
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scroll-padding-left: 5px;
      
    .items {
        scroll-snap-align: start;
    }
}