.rec.rec-arrow{
    display:none;
}
.rec.rec-arrow:hover{
    display:none;
}
.rec.rec-arrow:disabled{
    display:none;
}
.rec-carousel-item:focus {
    display: none;
}
.top-icon{
    margin-top: 15px;
}
.cAlXfM{
    width: 230px !important;
    justify-content: start !important;
}
.carousel-item{
    width: 230px !important;
}
.carousel-row{
    width: 230px !important;
}
.sc-iCoGMd.xzcEF.rec.rec-pagination{
    display: none;
}
