.rec.rec-arrow{
    display:none;
}
.rec.rec-arrow:hover{
    display:none;
}
.rec.rec-arrow:disabled{
    display:none;
}
.rec-carousel-item:focus {
    display: none;
}
.top-icon{
    margin-top: 15px;
}
// .cAlXfM{
//     margin-right: 10px !important;
//     // width: 230px !important;
//     // justify-content: start !important;
// }
// .carousel-item{
//     margin-right: 10px !important;
//     width: 230px !important;
// }
.carousel-row{
    margin-right: 10px !important;
    // width: 230px !important;
}

img{
    width: 100%;
    height: 125px;
    margin-right: 10px;
}
.sc-iCoGMd.xzcEF.rec.rec-pagination{
    display: none;
}

// @media screen and (max-width: 560px) {
//     img{
//         width: 220px;
//     }
// }