.rec.rec-arrow{
    display:none;
}
.rec.rec-arrow:hover{
    display:none;
}
.rec.rec-arrow:disabled{
    display:none;
}
.rec-carousel-item:focus {
    display: none;
}
.top-icon{
    margin-top: 15px;
}
.sc-iCoGMd.xzcEF.rec.rec-pagination{
    display: none;
}