.btn-container{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;

    .btn-image{
        flex-shrink: 0;
        margin: 10px;
        flex: auto;
        position: relative;
        height: 200px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        .imageSrc{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: cover;
            background-position: center;
        }
        .imageBackdrop{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.9);
            opacity: 0.4;
            transition: 0.2s ease-in-out;
        }

        .image-button{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;        

            .link{
                color: #fff;

                .imageTitle{
                    position: relative;

                    .imageMarked{
                        height: 3px;
                        width: 18px;
                        position: absolute;
                        bottom: -6px;
                        // left: calc(50% - 9px);
                        left: 0; 
                        right: 0; 
                        margin-left: auto; 
                        margin-right: auto; 
                        background: #fff;
                        transition: 0.3s ease-in-out;       
                    }
                }
            }

            &:hover .link .imageTitle .imageMarked{
                width: 40px;
            }
        }

        &:hover .imageBackdrop{
            background: rgba(0,0,0,0.6);
        }
    }
}
@media screen and (max-width: 460px){
    .btn-container{
        .btn-image{
            width: 25% !important;
            height: 120px;
            margin: 5px;
            .image-button{
                .imageTitle{
                    font-size: 12px;
                }
            }
        }
    }
}
@media screen and (max-width:375px) {
    .btn-container{
        .btn-image{
            height: 90px;
        }
    }
}