.main-forgot-div{
    text-align: center;
    .forgot-password-heading{
        font-size: 25px;
        margin-top: 10px;
        text-align:center;
    }
    p{
        font-size: 23px;
        margin-top: 10px;
    }
}